{
  "presets": [
      [
          "@babel/preset-env"
          // 此方法可以按需加载项目中用到的垫片，但无法加载框架中使用的方法垫片
          ,{
              "useBuiltIns": "usage",
              "corejs": {
                  "version": 3
              },
              "targets": {
                  "chrome": "75"
              }
          }
      ],
      [
        "@babel/preset-typescript",
        {
          "allExtensions": true
        }
      ]
  
  ]
}